@using Microsoft.AspNetCore.Identity
@using CleanArchitHomework.Domain.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="home">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <a id="manage" class="nav-link text-dark" asp-area="Identity" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        
        <button type="submit" class="button-menu" asp-controller="Task" asp-action="CreateTask">
           Create
        </button>
        <button type="submit" class="button-menu" asp-controller="TasksCatalog" asp-action="Index">View all tasks</button>
    }
    else
    {
        <p>Hello, user!!!</p>
        <p>Before starting work, you need to register or log in to your account.</p>
    }
    
    
</div>