@using CleanArchitHomework.Domain.Models

@model TaskClass
@{
    ViewData["Title"] = "Create task";
}

<div class="container">
    <div>
        <form method="post">
            <div class="field-input-data">
                <label asp-for="Name">Name</label>
                <input type="text" asp-for="Name" />
            </div>
            <div class="field-input-data">
                <label asp-for="Description">Description</label>
                <input type="text" asp-for="Description" />
            </div>
            <div>
                <label asp-for="Grade">Grade</label>
                <input type="text" asp-for="Grade" />
            </div>
            <div class="field-input-data">
                <label asp-for="Deadline">Deadline</label>
                <input type="date" asp-for="Deadline" />
            </div>
            <div class="field-input-data">
                <label asp-for="Resources">Resources</label>
                <input type="text" asp-for="Resources" />

            </div>
            <div class="d-inline-flex">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
