html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}

header {
    background: #333333 !important;
    color: white;
    font-size: 14px;
}

.header a 
{
    color: white;
}

nav .navbar-nav li a {
    color: white !important;
}
