@using CleanArchitHomework.Domain.Models
@using Microsoft.AspNetCore.Identity
@using System.Web.Optimization;

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@model PractiseTask
@{
    ViewData["Title"] = "Create task";
}

@{
    var res = new Resource();

}

<h1>@ViewData["Title"]</h1>


<div class="container">
    <div class="create-task-cont">
        <div class="create-task-form">
            <form method="post">
                <div class="field-input-data">
                    <label asp-for="Name">Name</label>
                    <input type="text" asp-for="Name" />
                    <span class="valid-error" asp-validation-for="Name"></span>
                </div>
                <div class="field-input-data">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" cols="70" rows="5"></textarea>
                    <span class="valid-error" asp-validation-for="Description"></span>
                </div>
                <div class="field-input-data">
                    <label asp-for="Grade">Grade</label>
                    <input type="text" asp-for="Grade" />
                    <span class="valid-error" asp-validation-for="Grade"></span>
                </div>
                <div class="field-input-data">
                    <label asp-for="Deadline">Deadline</label>
                    <input type="date" asp-for="Deadline" />
                    <span class="valid-error" asp-validation-for="Deadline"></span>
                </div>

                <div class="d-inline-flex">
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            </form>
        </div>

    </div>
</div>

